.vscode/
module/__pycache__/
school
user
venv
해야할_일.txt
memo.txt
.json
test.py
school basic info json.json
workspace.code-workspace.code-workspace
token.token
workspace.code-workspace
discordtest.py
log 
personal_info
